.unleash-your-movie-wrapper {
    border: 0px none;
    height: 10.75rem;
    width: 35rem;
    // padding-left: 8.375rem;
    // padding-right: 76.625rem;
    // padding-top: 28.938rem;
    // padding-bottom: 27.813rem;
}

.Subscription {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

.unleash-your-movie {
    color: #f03a47;
    font-family: "Nunito Sans-Black", Helvetica;
    font-size:4.75rem;
    font-weight: 900;
    height: 10.75rem;
    left: 0;
    letter-spacing: 0;
    line-height: 5.375rem;
    position: fixed;
    top: 0;
    width: 35rem;
    align-items: center;
  }
  
  